@mixin absoluteCentered() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
}

.content {
    @include absoluteCentered();
}

@mixin t($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
}
.main__title {
    @include t(32px, 40px);
}
.main__content p{
    @include t(18px, 24px);
}

//mixin font size
@mixin ms-font-size($fontSize) {
    font-size: $fontSize !important;    
}

@mixin option-background() {
    background-repeat: no-repeat;
    background-size: cover;
}