.ms-login {
  @include ms-border-radius(25px);
  margin-left: 35px;
  margin-right: 35px;

  &__icon {
    display: flex;
    justify-content: center;
    height: 138px;
  }

  &__line {
    display: flex;

    & p {
      margin: 13px !important;
    }
  }

  &__hr {
    height: 2px;
    width: 50%;
    margin: 25px 0 29px 0;
    background: rgba(255, 255, 255, 0.2);
  }

  &__social {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 45px;
    font-family: Montserrat-SemiBold;

    &:hover {
      @include linear-gradient(
        45deg,
        color("ms-light-blue", "darken-2") 0%,
        color("ms-cyan", "lighten-1") 100%
      );
      box-shadow: 0 6px 20px 0 rgba(color("ms-cyan", "lighten-1"), 0.5);
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .ms-login {
    margin-top: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
    @include ms-color();

    &__icon {
      height: 76px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ms-login {
    margin-left: 0px;
    margin-right: 0px;
  }
}
